<div class="container">
    <div class="badge">
      <button (click)="voltar()" mat-stroked-button color="primary">Voltar</button>  
    </div>

    <h1>Tasks finalizadas</h1>

    <div class="content" *ngFor="let item of listFinished">
        <mat-card class="mat-elevation-z8">
            <p>Data para finalizar: <span>{{ item.dataParaFinalizar }}</span> </p>
            <mat-card-header>
              <mat-card-title>{{ item.titulo }}</mat-card-title>
              <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
